.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}
.dialogsItem{
padding: 10px;
}
.dialogsItem .active{
color: gold;
}
.dialog{
    padding: 5px;
    color :rgb(219, 31, 25); 
    text-decoration: none;   

}
.messages{
    padding: 10px;
}
.message{

}
